<h1 class="my-3">All restaurants</h1>

<% @restaurants.each do |restaurant| %>
  <div class="d-flex flex-column bd-highlight mb-3">
    <div>
      <%= restaurant.name %>
    </div>
    <div>
      <%= restaurant.address %>
    </div>
    <div>
      <%= restaurant.phone_number %>
    </div>
    <div>
      <%= restaurant.category %>
    </div>
  </div>
<% end %>
