<div class="row">
  <div class="col-6">
    <h1 class="my-3">Add new restaurant</h1>
    <%= simple_form_for [@restaurant, @review] do |f| %>
      <%= f.input :rating, collection: [0, 1, 2, 3, 4, 5] %>
      <%= f.input :content %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
